body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden; /*change this later*/

}

.topnav {
  overflow: auto;
  background-color: #2d89ef;
  width: 100%;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  color: white;
  font-size: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  /* background-color: #618BEC; */
  position: absolute;
  background: black;
  right: 0;
  top: 0;
  background-color: inherit;
  color: white;
  padding:  25px;
  border: none;

}

.openbtn:hover {

  background-color: black;
}

.page-body{
    background-color: black;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
}

.slides{

  width: 100%;
  height: 100%; /* Make this == "auto%" if you want to maintain aspect ratio and not to fill page */
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.slides > img{

    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.slides > div{
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    font-size: 32px;
    color: white;
    padding: 30px;
    width: 25%;
    height: auto;
    max-height: 25%;
    display: inline-block;
    border: 1px solid white;

    z-index: 100;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -13%;
    text-align: center;


}
.sidepanel  {
  color: white;
  width: 0;
  position: fixed;
  z-index: 99;
  height: 250px;
  top: 0;
  right: 0;
  background-color: red;
  overflow-x: hidden;
  transition: 100ms ease-out;
  padding-top: 60px;
  height: 100%;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  width: 100%;
  text-decoration: none;
  font-size: 42px;
  color:white;
  border: 1px black;
  text-decoration: none;
  display: block;
  transition: 200ms ease-in;
}

.sidepanel a:hover {
  color: black;
  background-color: blue;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}


.scroll_btn{

    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: 1px solid black;
}

.display-left{

    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -25px;

}



.display-right{

    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -25px;

}
